#logo{
	float: left;
	padding-left: 35px;
	margin-top: -20px;

}

#logo a{
	font-size:  45px;
	font-family:  Monotype Corsiva;
	text-decoration: none;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
	0px -5px 35px rgba(255,255,255,0.3);
}
#header{
	background-color: #fff;
	position: relative;
	z-index: 205;
	padding: 0px;
	height: 65px;
	border-bottom: 2px solid #cbcbcb;
	position: fixed;
	top: 0px;
	width: 100%;
}
#header-line{
	margin-top: 15px;
}
a {
	color: #f58220;
	font-weight: 400;
}

span {
	font-weight: 300;
	color: #f58220;
}

.mlogin {
	margin: 170px auto 0;
}

.mregister {
	margin: 80px auto 0;
}

.error {
	margin: 40px auto 0;
	border: 1px solid #777;
	padding: 3px;
	color: #fff;
	text-align: center;
	width: 650px;
	background: #f58220;
}

.regtext {
	font-size: 13px;
	margin-top: 26px;
	color: #777;
}

/*= КОНТЕЙНЕРЫ
--------------------------------------------------------*/
.container-log {
	padding: 25px 16px 25px 10px;
	font-weight: 400;
	overflow: hidden;
	width: 350px;
	margin-top: 40px;
	height: auto;
	/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);*/
	/*-moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,.13);*/
}

#welcome {
	width: 500px;
	padding: 30px;
	background: #fff;
	margin: 160px auto 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container-log h1 {
	color: #777;
	text-align: center;
	font-weight: 300;
	border: 1px dashed #777;
	margin-top: 13px;
}

.container-log label {
	color: #777;
	font-size: 14px;
}

#login {
	width: 320px;
	margin-top: 80px;
	padding-bottom: 15px;
}

.container-log form .input,.container-log input[type=text],.container-log input[type=password],.container-log input[type=e] {
	background: #fbfbfb;
	font-size: 24px;
	line-height: 1;
	width: 100%;
	padding: 3px;
	margin: 0 6px 5px 0;
	outline: none;
	border: 1px solid #d9d9d9;
}

.container-log form .input:focus {
	border: 1px solid #f58220;
	-webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
	-moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
	box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

/*= КНОПКИ
--------------------------------------------------------*/

.button{
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, leftbottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a, #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	color: #fff;
	padding: 7px 12px;
	-webkit-border-radius:4px;
	moz-border-radius:4px;
	border-radius:4px;
	float: right;
	cursor: pointer;
}

.button:hover{
	background: #f47c20;
	background: -webkit-gradient(linear, left top, leftbottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11, #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
/*= ПОДВАЛ
--------------------------------------------------------*/
footer {
	color: #777;
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
#container {
	width:      960px;
	margin-top: 50px;
}

.brick {
	width:      220px; // width of each brick less the padding inbetween
padding:    0px 10px 15px 10px;
}
#inspection{
	color: red;
	margin-top: -20px;
	margin-left: 630px;
}
